## print function exploration

In [4]:
print(" \'My name is Rehan Qasim \n my father name is Qasim Ali \n \n \n   ")

 'My name is Rehan Qasim
 my father name is Qasim Ali

In [5]:
print("\")

SyntaxError: EOL while scanning string literal (<ipython-input-5-dff1232de400>, line 1)

In [6]:
print("pussy cat," , "pussy cat" , "Where are you ? ")

pussy cat, pussy cat Where are you ?

In [9]:
print("My name is","python",end=" ")
print("Monty python")

My name is python Monty python

In [12]:
print("My name is","python",end="\n")
print("Monty python")

My name is python
Monty python

In [13]:
print("My name is","python",end="")
print("Monty python")

My name is pythonMonty python

In [14]:
print("My","name","is","Monty","python",sep="-")

My-name-is-Monty-python

In [1]:
print("My","name","is","Monty","python",sep="")

MynameisMontypython

In [2]:
print("My", "name", "is", sep ="_",end ="*")
print("monty","python",sep = "*",end= "*\n")

My_name_is*monty*python*

In [3]:
print("2")
print(2)

2
2

## octal numbers can be converted to decimals using print() function

In [5]:
print(0o123)
print(0o5123)
print(0o0123)
print(0o7123)
print(0o7123)

83
2643
83
3667
3667

In [6]:
1_625_789

1625789

In [7]:
123_78

12378