In [9]:
num=1
num+=100
num

101

In [10]:
x+=1
x

201

In [11]:
12*2/4

6.0

In [11]:
12*2/4

6.0

In [12]:
12*(2/4)

6.0

In [13]:
str(6 + 7)

'13'

# print function

In [16]:
age = input("Enter you age : ")
name = input("Enter you name : ")
print("You Entered your name as : " + name + " You Entered your age as : " + age )
print(type(age))

Enter you age : 23
Enter you name : klk
<class 'str'>

In [17]:
age = int(input("Enter you age : "))
name = input("Enter you name : ")
print("You Entered your name as : " + name + " You Entered your age as : " + age )

Enter you age : 17
Enter you name : lk

TypeError: can only concatenate str (not "int") to str

In [21]:
age = int(input("Enter you age : "))
name = input("Enter you name : ")
print("You Entered your name as {0} and You Entered your age as {1}".format(name, age))

Enter you age : 14
Enter you name : kj
You Entered your name as kj and You Entered your age as 14

In [22]:
age = int(input("Enter you age : "))
name = input("Enter you name : ")
print(f"my name is {name} and my age is {age}")

Enter you age : 12
Enter you name : uyuy
my name is uyuy and my age is 12

In [23]:
format()

TypeError: format() takes at least 1 argument (0 given)

In [24]:
print("my name is {1} and my age is {0}" .format(name,age))

my name is uyuy and my age is 12

In [25]:
print("my name is {1} and my age is {0}" .format(name,age))

my name is 12 and my age is uyuy

# if statement

In [26]:
a = 10
b = 20
if a<b:                        ## : starts the body (indenting)
    print("a chota hy")
    print("0")
    print("fd")

a chota hy
0
fd

In [27]:
a = 10
b = 20
if a<b:                        ## : starts the body (indenting)
    print("a chota hy")
    print("0")
    print("fd")
print('6565656')

a chota hy
0
fd
6565656

In [ ]:
a = 10
b = 20
if a<b:                        ##   " : " starts the body (indenting)
    print("a chota hy")
    print("0")
    print("fd")
    if b>a:

In [31]:
x = int(input("Enter the number : "))
if x%2 == 0:
    print("Entered number is Even ")
else:
    print("Entered number is Odd")

Enter the number : 17
Entered number is Odd

In [32]:
x = int(input("Enter the number :"))
if x%2 == 0:
    print(f" {x} is even")
else:
    print(f" {x} is Odd ")

Enter the number :56
 56 is even

In [1]:
x = input("Enter the number : ")
y = input("Enter the second number :")
z = input ("Enter the third number :")
print(f"the first number : {x} the second number : {y} the third number : {z}")

Enter the number : 12
Enter the second number :13
Enter the third number :14
the first number : 12 the second number : 13 the third number : 14

In [2]:
x + y

'1213'

In [2]:
x = (input("Enter in the upper case :")).lower()
print(x)

Enter in the upper case :REHAN QASIM
rehan qasim

In [4]:
x = (input("Enter in the lower case :")).upper()
print(x)

Enter in the lower case :41
41