In [1]:
for value in range(1,10):
    print(value)

1
2
3
4
5
6
7
8
9

In [3]:
for a in range(1,15):
    print(a)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [4]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [5]:
for z in range(1,21):
    print(z)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [6]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [13]:
odd_numbers = list()

In [14]:
odd_numbers

[]

In [15]:
even_numbers = list([2,4,6,8,10])

In [16]:
even_numbers

[2, 4, 6, 8, 10]

In [21]:
x = int(input("Enter the number :"))

Enter the number :45

SyntaxError: invalid syntax (<ipython-input-20-73f1c6449184>, line 1)

# prime detector

In [27]:
num = int(input("enter a number: "))
 
for i in range(2, num):
	if num % i  == 0:
		print("not prime number")
		break
else:
	print("prime number")

enter a number: 1001217
not prime number

In [28]:
num1 = int(input("enter a number: "))
num2 = int(input("enter a number: "))
 
for i in range(num1, num2,-2):
    print(i)

enter a number: 10
enter a number: 0
10
8
6
4
2

In [31]:
num1 = int(input("enter a number: "))
num2 = int(input("enter a number: "))
 
for i in range(num1, num2):
    print(i)

enter a number: 12
enter a number: 33
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

In [33]:
qwe = range(1,10)
qwe

range(1, 10)

In [5]:
qwe = list()

In [6]:
qwe

[]

In [7]:
qwerty = list([])

In [8]:
qwerty

[]

In [9]:
quota = list(range(1,21,2))

In [10]:
quota

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [11]:
tuple01 = ()

In [12]:
tuple01

()

In [13]:
type(tuple01)

tuple

In [14]:
type(quota)

list

In [17]:
for value in range(0,100,5):
    print(value)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [20]:
for i in range(1,100,12):
    print(i)

1
13
25
37
49
61
73
85
97

In [33]:
chr(22)

'\x16'

In [40]:
ord("x")

120

In [39]:
ord("m")

109

In [41]:
bin(109)

'0b1101101'

In [42]:
oct(109)

'0o155'

In [43]:
hex(109)

'0x6d'

In [44]:
int(0b1101101)

109

In [45]:
int(0x6d)

109

In [49]:
int(0b1111000 )

120

In [50]:
chr(120)

'x'

In [53]:
chr(int( 0b1111001 ))

'y'

# string to binary

In [156]:
st =input("Input the string :")
print(st)
' '.join(format(ord(x), 'b') for x in st)

Input the string :anas
anas

'1100001 1101110 1100001 1110011'

In [57]:
chr(int(0b1101101))

'm'

# join func

In [59]:
'0'.join("awesome")

'a0w0e0s0o0m0e'

In [62]:
list01 = ["1","2","3"]

In [64]:
','.join(list01)

'1,2,3'

In [73]:
x = "pakistan"
for i in x :
    print(ord(i))

112
97
107
105
115
116
97
110

In [81]:
print(format(12, "E"))

1.200000E+01

In [79]:
print(format(123,"*>+7,d"))

***+123

 # from stack overflow

In [161]:
st = input("Enter the String :")
' '.join(format(ord(x), 'b') for x in st)

Enter the String :00000

'110000 110000 110000 110000 110000'

#  my learning

In [96]:
st = input("Enter the String :")
for x in st:
    print(''.join(format(ord(x), 'd')) , end = " ")

Enter the String :rehan
114 101 104 97 110

In [116]:
st1 = input("Enter the String :")
for i in st1 :
    print(format(ord(i),'b'),end=" ")

Enter the String :rehan
1110010 1100101 1101000 1100001 1101110

In [90]:
format(ord('r') , 'b')

'1110010'

In [100]:
int(10110)

10110

In [115]:
int(0x15)

21

In [114]:
hex(15)

'0xf'

In [158]:
st = input("Enter the String :")
' '.join(format(ord(x),'b') for x in st)

Enter the String :rehan qasim

'1110010 1100101 1101000 1100001 1101110 100000 1110001 1100001 1110011 1101001 1101101'

In [154]:
x = [0b1110010 , 0b1100101,0b1101000,0b1100001, 0b1101110]
''.join(chr(int(i)) for i in x)

'rehan'

In [155]:
st = input("Enter the String :")
' '.join(format(ord(x),'0b') for x in st)

Enter the String :rehan

'1110010 1100101 1101000 1100001 1101110'

In [143]:
x = int(input("Enter the first Number :"))
y = int(input("Enter the Second number"))
x=str(x)
y=str(y)
print(x+y)

Enter the first Number :1
Enter the Second number2
12

In [ ]:
string = [0b1100001 0b1101110 0b1100001 0b1110011]

In [159]:
chr(int(0b100000))

' '

In [166]:
bin(ord('0'))

'0b110000'

In [167]:
bin(ord(' '))

'0b100000'

In [169]:
bin(ord('$'))

'0b100100'

In [170]:
int(0b100100)

36

In [171]:
chr(36)

'$'

In [182]:
import time

int(time.time())

1559503646

In [186]:
["a","c"].pop()

'c'

In [187]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [6]:
num = int(input("Enter your number in decimal :"))
print("hello , %s!" %num)

Enter your number in decimal :1234
hello , 1234!

# Conclusions 
-> Functions Learnt:
       
       * join (doest not accept int instance i.e. in the argument can not use int)
       
       * format
       
       * ord
       
       * chr
       
       *