# slicing

In [ ]:
a = [22,33,44,11,77,88,99,45,78,78,987,120]
a[1]

In [ ]:
a[1:4]

In [ ]:
a[3:7:2]

In [ ]:
## list[starting index : last index : step]

# tuples

In [ ]:
t = ("asad")

In [ ]:
t[0]

In [ ]:
del t[0]

 # packing

In [ ]:
t01 = ("a","b","c","d")

# unpacking

In [ ]:
x,y,z,s = t01

In [ ]:
display(x,y,z,s)

In [ ]:
t01

In [ ]:
list022 = ["rehan","qasim","sameed"]
q,w,e = list022

In [ ]:
display(q,w,e)

In [ ]:
list74 = [1,2,3,4,5,6,7,8,9]

In [ ]:
display(list74,list74[:7])

In [ ]:
display(list74,list74[5:])

In [ ]:
display(list74,list74[2:9:1])

# tuples can be added

In [ ]:
tu1 = ("a","b","c")
tu2 = ("x","y","z")
su = tu1 + tu2
display(tu1,tu2,su)

# list adding

In [ ]:
tu1 =["a","b","c"]
tu2 = ["x","y","z"]
su = tu1 + tu2
display(tu1,tu2,su)

# loops 
for loop & while loop

In [ ]:
students = ["ali","shahzad","hamza"]
for i in students:
    print(i)

In [ ]:
list45 = [1,2,3,4,5,6,7,8,9]

In [ ]:
for i in range(0,144,12):
    print(i,end="_")

In [ ]:
for i in range(4,10,-2):
    print(i)

In [ ]:
user_input = int(input("Enter the Number Whose table is Required : "))
till = int(input("Enter the Number till which table is Required :"))
a=0
for i in range(0,user_input*(till+1),user_input):
    if i>0:
        print(f"{user_input} * {a} = {i}")
    a+=1

In [ ]:
user_input = int(input("Enter the Number Whose table is Required : "))
till = int(input("Enter the Number till which table is Required :"))
a=0
for i in range(0,user_input*(till+1),user_input):
    if i==50:
        break
    if i>0:
        print(f"{user_input} * {a} = {i}")
    a+=1

In [ ]:
user_input = int(input("Enter the Number Whose table is Required : "))
till = int(input("Enter the Number till which table is Required :"))
a=0
for i in range(0,user_input*(till+1),user_input):
    if i==50:
        a+=1
        continue
        
    if i>0:
        print(f"{user_input} * {a} = {i}")
    a+=1

In [ ]:
user_input01 = int(input("Enter the starting number of range whose table is required :"))
user_input02 = int(input("Enter the ending number of range whose table is required :"))
s1 = int(input("Starting value :"))
s2 = int(input("Ending value :"))
print(f"\n Table of {user_input01}")
for i in range(user_input01,user_input02+1):
    for j in range(s1,s2+1):
        print(f"{i} * {j} = {i*j}")
        a=i+1
    print(f"\n Table of {a}")

In [ ]:
a=x,y==y,x

# another way to define tuple

In [ ]:
x=1,2,3,4,5
type(x)

In [ ]:
c = "c","d"

In [ ]:
type(c)

In [ ]:
c

In [ ]:
list01 = [1,2,3,4,5,6,45,78,95,74,2,0,78,2]

In [ ]:
list01.sort()

In [ ]:
list01

In [ ]:
list01.sort(reverse=True)

In [34]:
list01

['1', '2', '3', '4', '5', '6']

  #  practicing

In [ ]:
list022 = []

In [ ]:
a = input("Enter the elements of the list :").lower()
if a== "done":
    exit()
else :
    list022.append(int(a))
display(a)
j=0
while j<len(a):
    
    for i in a:
        if a[j]>a[j+1]
        a[j]=a[j+1]

In [7]:
input_string = input("Enter a list element separated by space ")
list01  = input_string.split()
print("Calculating sum of element of input list")
sum = 0
for num in list01:
    sum += int (num)
print("Sum = ",sum)

Enter a list element separated by space 1 2 3 4 5 6
Calculating sum of element of input list
Sum =  21

In [ ]:
input_string = input("Enter a list element separated by space ")
list  = input_string.split()

In [ ]:
input_string = int(input("Enter a list element separated by space "))
list01  = input_string.split()
print(list01)

In [11]:
list007 = input("Enter the List :")
list007 = list007.split()
list007

Enter the List :7 5 8 2 10 9 6 1

['7', '5', '8', '2', '10', '9', '6', '1']

In [13]:
list007.sort()
list007

['1', '10', '2', '5', '6', '7', '8', '9']

 # integer list input

In [32]:
a = [int(x) for x in input().split()]

1 2 3 4 5 6

In [33]:
a

[1, 2, 3, 4, 5, 6]

In [23]:
a = input()

b=a.split()
b

1 2 3 4 5 6

['1', '2', '3', '4', '5', '6']

In [21]:
len(a)

17

In [22]:
str01 = "rehan qasim"
len(str01)

11

In [ ]:
text = 'geeks for geeks'
  
# Splits at space 
print(text.split())

In [28]:
x = input("Enter the number list :").split()

Enter the number list :1 2 3 4 5 6

['1', '2', '3', '4', '5', '6']

#  split() function explained

In [43]:
qwe = "rehan,qasim,ali,kumbher,qwe,ert,qwe,rt"
qwer = qwe.split(",",5)
display(qwe,qwer)

'rehan,qasim,ali,kumbher,qwe,ert,qwe,rt'

['rehan', 'qasim', 'ali', 'kumbher', 'qwe', 'ert,qwe,rt']

In [45]:
z = [int(i) for i in input().split()]
z

1 2 3 4 5 6

[1, 2, 3, 4, 5, 6]

In [1]:
asd = input().split()
j=0
for i in asd:
    asd.remove(i)
    int(i)
    asd.insert(j,i)
    j+=1
asd

1 2 3 4

['1', '2', '3', '4']

In [2]:
qty = [input()]

12

In [3]:
qty

['12']

In [7]:
list01 = [0b0,0b1,0b10,0b11]

In [8]:
quota = [hex(x) for x in list01]

In [9]:
quota

['0x0', '0x1', '0x2', '0x3']

In [22]:
qwer = [ int(x) for x in range(0b1,0b1110)]

In [23]:
qwer

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [25]:
qw = [format(x,'#b') for x in qwer]
qw

['0b1',
 '0b10',
 '0b11',
 '0b100',
 '0b101',
 '0b110',
 '0b111',
 '0b1000',
 '0b1001',
 '0b1010',
 '0b1011',
 '0b1100',
 '0b1101']

# conclusions 
->  continue and break shoudn't be followed by any statements they wouldn't be executed.

->  split() dosen't change the original list01 

->  in order to know the effect of split save it in another variable 

->   str.split(separator, maxsplit)