## lists

In [1]:
cities = ["karachi","lahore","quetta","peshawar","karachi"]

In [3]:
cities[0]

'karachi'

In [4]:
cities[4]

'karachi'

In [5]:
alist = ["string", 123.5,67 , False]

In [6]:
alist[3]

False

In [7]:
alist[0] = "gnirts"

In [8]:
alist[0]

'gnirts'

# deleting by index
## using del

In [9]:
del alist[3]   ## deleting by index
alist

['gnirts', 123.5, 67]

# append

In [10]:
alist.append("hello python")
alist

['gnirts', 123.5, 67, 'hello python']

# insert

In [12]:
## if want to add value in b/w of list
alist.insert(1,"piaic")
alist

['gnirts', 'piaic', 'piaic', 123.5, 67, 'hello python']

In [13]:
list2 = [11 ,22 ,33,44,55,66,77,88,99]

##  remove
## delete by value

In [14]:
list2.remove(44)

In [15]:
list2

[11, 22, 33, 55, 66, 77, 88, 99]

# clear

In [16]:
list2.clear()
list2

[]

# count

In [17]:
list3 = [1,5,98,7,8,8,8,8,8,9,7,5,1,2,3,7,9,7,8,1,2,3,8,5]
list3.count(8)

7

# len()

In [23]:
len(list3)

24

# sort()

In [2]:
list4 = [1,5,98,7,8,8,8,8,8,9,7,5,1,2,3,7,9,7,8,1,2,3,8,5]
list4.sort()
list4

[1, 1, 1, 2, 2, 3, 3, 5, 5, 5, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 9, 9, 98]

In [3]:
list4.sort(reverse=True)
list4

[98, 9, 9, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 5, 5, 5, 3, 3, 2, 2, 1, 1, 1]

# pass by reference

In [4]:
list5 = list4

In [5]:
list5 is list4

True

In [6]:
list5 == list4

True

In [25]:
list5

[98, 9, 9, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 5, 5, 5, 3, 3, 2, 2, 1, 1, 1]

## pass by value

In [26]:
list5 = list4.copy()

In [27]:
list5

[98, 9, 9, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 5, 5, 5, 3, 3, 2, 2, 1, 1, 1]

In [28]:
list4

[98, 9, 9, 8, 8, 8, 8, 8, 8, 8, 7, 7, 7, 7, 5, 5, 5, 3, 3, 2, 2, 1, 1, 1]

In [37]:
a = ["apple","orange","bananas"]

### pass by reference

In [38]:
b = a 
a.append("grapes")

In [39]:
b

['apple', 'orange', 'bananas', 'grapes']

In [44]:

### another method for passing by value

c = a[:]  ## slicing

## deleting element by index

In [40]:
del a[1]
a

['apple', 'bananas', 'grapes']

# memory address using id( ) func

In [71]:
c 
id(c)

2849298294792

In [43]:
x = 4
print (hex(id(x)))

0x7ffa601b93a0

In [45]:
id(a)

2849298180616

In [46]:
id(b)

2849298180616

In [47]:
hex(id(b))

'0x2976767ea08'

In [48]:
hex(id(a))

'0x2976767ea08'

# sorting reverse

In [ ]:
qwe = ["a","b","c","d"]

In [50]:
qwe.sort(reverse=True)

In [51]:
qwe

['d', 'c', 'b', 'a']

In [52]:
qws = ["c","g","h","e"]
qws.sort()

In [53]:
qws

['c', 'e', 'g', 'h']

# type function

In [54]:
type(b)

list

In [55]:
type(a)

list

## list within list

In [64]:
listinlist = [111,222,["c","g","h","e"]]

In [65]:
listinlist

[111, 222, ['c', 'g', 'h', 'e']]

In [66]:
listinlist[2]

['c', 'g', 'h', 'e']

In [67]:
listinlist[2][2] # first [] dnotes index in the main list while second [] denotes index in the secondary list

'h'

In [72]:
del listinlist[2][2]

In [73]:
listinlist

[111, 222, ['c', 'g', 'e']]

In [74]:
print("dsfdsf")
print("sdfds")

dsfdsf
sdfds

#  display() command

In [8]:

x=2
y=7
z=4
display(x,y,z)

2

7

4

## string manipulation

In [76]:
a = ["Pakistan"]
a[0][0]

'P'

# slicing

In [77]:
listslicing = [1,2,3,4,5,6,7,8,9]

In [78]:
listslicing[4]

5

In [80]:
listslicing[2:8] ## last element doesn't include

[3, 4, 5, 6, 7, 8]

# range()

In [82]:
for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

In [84]:
list67 = [1,2,3,4,5,6,7,8,9]
list67[4:7]

[5, 6, 7]

In [ ]:

list90 = ["tom","rachae"]

In [86]:
a =range(1,10)

In [87]:
a

range(1, 10)

In [88]:
print(a)

range(1, 10)

#     a bit tricky

In [93]:
list98 = [1,2,3,4,5,6,7,8,9,[2,5,8,9,7,5]]

In [98]:
list98[9].remove(8)

In [99]:
list98

[1, 2, 3, 4, 5, 6, 7, 8, 9, [2, 5, 9, 7, 5]]

In [100]:
list98[9].insert(0,1)

In [101]:
list98

[1, 2, 3, 4, 5, 6, 7, 8, 9, [1, 2, 5, 9, 7, 5]]

In [102]:
list98[9].insert(0,"hello word")

In [103]:
list98

[1, 2, 3, 4, 5, 6, 7, 8, 9, ['hello word', 1, 2, 5, 9, 7, 5]]

# Reverse Indexing

In [104]:
rlist = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9]
#revers [-9  -8  -7  -6  -5  -4  -3  -2  -1]

In [105]:
rlist[-1]

9

In [106]:
rlist[-6]

4

In [107]:
rlist[-6:-3]

[4, 5, 6]

In [108]:
rlist[8]

9

## deleting a slice

In [109]:
del rlist[-6:-3]

In [110]:
rlist

[1, 2, 3, 7, 8, 9]

# popping elements

In [30]:
list_01 = [1,2,3,4,5,6,7,8,9]
poppedlist = []

In [31]:
poppedlist.append(list_01.pop())
list_01

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
poppedlist

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [6]:
list619 = [1,2,3,4,5,6,7,8,9]

In [7]:
popped = list619.pop(4)
popped

5

# Conclusions

->  id() to return the address of an object

->  if there are repeating values in the list remove(x) where x is the value in the list will remove first occurence

->  direction of slicing is always from left to right in the list

->  

->